{% extends 'website/base.html' %}
{% load static %}
{% block title %}Categories - Budget Manager{% endblock %}


{% block body %}
<div class="row" style="margin-top: 50px;">

    <div class="col-6">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Add parent category</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2" style="margin: 15px;">
                <form role="form" method="POST" action="{% url 'add_category' %}" class="text-start">
                    {% csrf_token %}
                    <div class="input-group input-group-outline my-3">
                        <label class="form-label">Name</label>
                        <input type="text" name="name" maxlength="250" required id="id_name" class="form-control">
                      </div>

                      <div class="input-group input-group-outline my-3">
                        <label class="form-label">Icon</label>
                        <input type="text" name="icon" maxlength="250" required id="id_icon" class="form-control">
                      </div>
                 
                    
                    <div class="text-center">
                        <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Add</button>
                      </div>
                  </form>
                
              
            </div>
          </div>
    </div>

    <div class="col-6">
      <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Add sub category</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2" style="margin: 15px;">
              <form role="form" method="POST" action="{% url 'add_category' %}" class="text-start">
                  {% csrf_token %}
                  <div class="input-group input-group-outline my-3">
                      <label class="form-label">Name</label>
                      <input type="text" name="name" maxlength="250" required id="id_name" class="form-control">
                    </div>

                    <div class="input-group input-group-outline my-3">
                      <label class="form-label">Icon</label>
                      <input type="text" name="icon" maxlength="250" required id="id_icon" class="form-control">
                    </div>


                    <div class="input-group input-group-outline my-3">
                      
                      <select name="category" class="form-control" required id="id_category">
                        <option value="">- PARENT CATEGORY - </option>
                        {% for category in parentCategories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
               
                  
                  <div class="text-center">
                      <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Add</button>
                    </div>
                </form>
              
            
          </div>
        </div>
  </div>
  </div>
{% endblock %}